<?xml version="1.0"?>
<config>
    <modules>
        <Packpin_Pptrack>
            <version>1.7.2</version>
        </Packpin_Pptrack>
    </modules>
    <frontend>
        <routers>
            <pptrack>
                <use>standard</use>
                <args>
                    <module>Packpin_Pptrack</module>
                    <frontName>pptrack</frontName>
                </args>
            </pptrack>
        </routers>
        <layout>
            <updates>
                <pptrack>
                    <file>pptrack.xml</file>
                </pptrack>
                <pptrack_unsubscribe>
                    <file>pptrackunsubscribe.xml</file>
                </pptrack_unsubscribe>
            </updates>
        </layout>
        <translate>
            <modules>
                <Packpin_Pptrack>
                    <files>
                        <default>Packpin_Pptrack.csv</default>
                    </files>
                </Packpin_Pptrack>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <packpinpptrackvalidation>
                <class>Packpin_Pptrack_Model</class>
            </packpinpptrackvalidation>
            <pptrack>
                <class>Packpin_Pptrack_Model</class>
                <resourceModel>pptrack_resource</resourceModel>
            </pptrack>
            <pptrackcron>
                <class>Packpin_Pptrack_Model</class>
                <resourceModel>pptrack_resource</resourceModel>
            </pptrackcron>
            <pptrack_resource>
                <class>Packpin_Pptrack_Model_Resource</class>
                <entities>
                    <track>
                        <table>pp_tracks</table>
                    </track>
                    <trackunsubscribed>
                        <table>pp_tracks_unsubscribed</table>
                    </trackunsubscribed>
                    <trackdetail>
                        <table>pp_track_details</table>
                    </trackdetail>
                    <carrier>
                        <table>pp_carriers</table>
                    </carrier>
                    <setting>
                        <table>pp_settings</table>
                    </setting>
                    <notification_setting>
                        <table>pp_notification_settings</table>
                    </notification_setting>
                    <notification_template>
                        <table>pp_notification_templates</table>
                    </notification_template>
                    <visit>
                        <table>pp_visits</table>
                    </visit>
                </entities>
            </pptrack_resource>
            <status>
                <class>Packpin_Track_Model</class>
            </status>
            <cron_job>
                <class>Packpin_Track_Model</class>
            </cron_job>
            <notification>
                <class>Packpin_Track_Model</class>
            </notification>
            <sales>
                <rewrite>
                    <order_shipment>Packpin_Pptrack_Model_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
            <core>
                <rewrite>
                    <translate>Packpin_Pptrack_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <helpers>
            <pptrack>
                <class>Packpin_Pptrack_Helper</class>
            </pptrack>
        </helpers>
        <blocks>
            <pptrack>
                <class>Packpin_Pptrack_Block</class>
                <trackings>
                    <class>Packpin_Pptrack_Block_Trackings</class>
                </trackings>
            </pptrack>
            <pptrack_adminhtml>
                <class>Packpin_Pptrack_Block_Adminhtml</class>
            </pptrack_adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view_tracking>
                        Packpin_Pptrack_Block_Adminhtml_Sales_Order_Shipment_View_Tracking
                    </sales_order_shipment_view_tracking>
                    <sales_order_shipment_create_tracking>
                        Packpin_Pptrack_Block_Adminhtml_Sales_Order_Shipment_Create_Tracking
                    </sales_order_shipment_create_tracking>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <pptrack_setup>
                <setup>
                    <module>Packpin_Pptrack</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pptrack_setup>
            <pptrack_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pptrack_write>
            <pptrack_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pptrack_read>
        </resources>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <pp_track_save>
                        <type>singleton</type>
                        <class>pptrack/observer</class>
                        <method>afterShipmentSaved</method>
                    </pp_track_save>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_track_delete_after>
                <observers>
                    <pp_track_delete>
                        <type>singleton</type>
                        <class>pptrack/observer</class>
                        <method>afterShipmentRemoved</method>
                    </pp_track_delete>
                </observers>
            </sales_order_shipment_track_delete_after>
            <controller_action_predispatch_shipping_tracking_popup>
                <observers>
                    <pp_tracking_popup_predispatch>
                        <type>singleton</type>
                        <class>pptrack/observer</class>
                        <method>trackingPopupPreDispatch</method>
                    </pp_tracking_popup_predispatch>
                </observers>
            </controller_action_predispatch_shipping_tracking_popup>
            <admin_system_config_changed_section_pp_section_carriers>
                <observers>
                    <module_name>
                        <type>singleton</type>
                        <class>pptrack/observer</class>
                        <method>saveCarriers</method>
                    </module_name>
                </observers>
            </admin_system_config_changed_section_pp_section_carriers>
        </events>
        <template>
            <email>
                <packpin_delivered_email>
                    <label>Packpin Delivered Notification Email</label>
                    <file>packpin/packpin_delivered_email.html</file>
                    <type>html</type>
                </packpin_delivered_email>
                <packpin_exception_email>
                    <label>Packpin Exception Notification Email</label>
                    <file>packpin/packpin_exception_email.html</file>
                    <type>html</type>
                </packpin_exception_email>
                <packpin_failed_attempt_email>
                    <label>Packpin Failed Attempt Notification Email</label>
                    <file>packpin/packpin_failed_attempt_email.html</file>
                    <type>html</type>
                </packpin_failed_attempt_email>
                <packpin_in_transit_email>
                    <label>Packpin in Transit Notification Email</label>
                    <file>packpin/packpin_in_transit_email.html</file>
                    <type>html</type>
                </packpin_in_transit_email>
                <packpin_info_received_email>
                    <label>Packpin Info Received Notification Email</label>
                    <file>packpin/packpin_info_received_email.html</file>
                    <type>html</type>
                </packpin_info_received_email>
                <packpin_out_for_delivery_email>
                    <label>Packpin Out for Delivery Notification Email</label>
                    <file>packpin/packpin_out_for_delivery_email.html</file>
                    <type>html</type>
                </packpin_out_for_delivery_email>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <pptrack_check_tracks>
                <schedule>
                    <cron_expr>1 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>pptrack/observer::cron</model>
                </run>
            </pptrack_check_tracks>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Packpin_Pptrack before="Mage_Adminhtml">Packpin_Pptrack_Adminhtml</Packpin_Pptrack>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Packpin_Pptrack>
                    <files>
                        <default>Packpin_Pptrack.csv</default>
                    </files>
                </Packpin_Pptrack>
            </modules>
        </translate>
        <layout>
            <updates>
                <pptrack>
                    <file>pptrack.xml</file>
                </pptrack>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <Packpin_Pptrack>
                        <class>pptrack/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </Packpin_Pptrack>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <Packpin_Pptrack>
                        <class>pptrack/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </Packpin_Pptrack>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <default>
        <pp_section_setttings>
            <settings>
                <status>1</status>
            </settings>
            <crosssell>
                <cross_sell_page>1</cross_sell_page>
                <cross_sell_email>1</cross_sell_email>
                <cross_sell_page_items>8</cross_sell_page_items>
                <cross_sell_email_items>4</cross_sell_email_items>
                <cross_sell_page_type>products</cross_sell_page_type>
                <cross_sell_email_type>products</cross_sell_email_type>
            </crosssell>
            <template>
                <template_type>v1</template_type>
                <template_image_type>default</template_image_type>
            </template>
            <advanced>
                <trigger_shipped_email>0</trigger_shipped_email>
            </advanced>
        </pp_section_setttings>
        <pp_section_notification_emails>
            <info_received>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </info_received>
            <in_transit>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </in_transit>
            <out_for_delivery>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </out_for_delivery>
            <delivered>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </delivered>
            <exception>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </exception>
            <failed_attempt>
                <enabled_client>1</enabled_client>
                <identity>general</identity>
            </failed_attempt>
        </pp_section_notification_emails>
    </default>
</config>